#App {
  max-width: 1480px;
  margin: 0 auto;
  text-align: center;
  padding: 2rem;
}

/* custom variable for switching the background color of the body  */
:root {
  --main-bg-color: #e8ebeb;
  background-color: var(--main-bg-color);
}
