/* ------------------------------------------Custom classes for styling ---------------------- */

.bg-light {
  background-color: #f8f8f8;
}

.bg-dark {
  background-color: #242424;
}

.text-light {
  color: #242424;
}

.text-dark {
  color: #f8f8f8;
}

.text-primary {
  color: #464cb3;
}

.bg-primary {
  background-color: #464cb3;
}

.bg-secondary {
  background-color: #ff6600;
}
