/* ------------------------------------------Custom classes for styling ---------------------- */

.text-dark {
  color: #f5f6f6;
}

.bg-green {
  background-color: darkgreen;
}

.text-green {
  color: darkgreen;
}

.bg-gray {
  background-color: #cfcfcf;
}

.bg-light-gray {
  background-color: #f5f6f6;
}

.text-gray {
  color: #333;
}

.bg-purple {
  background-color: #646cff;
  color: #f8f8f8;
}

.text-purple {
  color: #646cff;
}

.theme-dark {
  background-color: #242424;
  color: #f8f8f8;
}
